<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vitrine de Doces - Doce Universo</title>
</head>
<body>
    <h1>Vitrine Doce Universo</h1>
    <a href="{% url 'carrinho:detalhe_carrinho' %}">🛒 Ver Carrinho</a>
    <hr>

     {% if produtos %}
       {% for produto in produtos %}
         <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
           <h2>{{ produto.nome }}</h2>
           
           {% if produto.imagem_principal %}
             <img src="{{ produto.imagem_principal.url }}" alt="{{ produto.nome }}" style="max-width: 150px;">
           {% endif %}

           <p>{{ produto.descricao_geral|truncatewords:20 }}</p>
           <p>Categoria: {{ produto.categoria.nome }}</p>
           
           <a href="{% url 'produtos:detalhes-produto' produto.slug %}">Escolher sabores e comprar</a>
         </div>
       {% endfor %}
     {% else %}
       <p>Nenhum doce cadastrado ainda ou todos estão indisponíveis.</p>
     {% endif %}
</body>
</html>
