<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
     {% if produtos %}
       {% for produto in produtos %}
         <div>
           <h2>{{ produto.nome }}</h2>
           <p>{{ produto.descricao }}</p>
           <strong>R$ {{ produto.preco }}</strong>
         </div>
       {% endfor %}
     {% else %}
       <p>Nenhum produto cadastrado ainda.</p>
     {% endif %}
</body>
</html>
