<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
     {% if produtos %}
       {% for produto in produtos %}
         <div>
           <h2>{{ produto.nome }}</h2>
           <p>{{ produto.descricao }}</p>
           <strong>R$ {{ produto.preco }}</strong>
           {% if produto.disponivel %}
             <p>Disponível</p>
           {% else %}
             <p>Indisponível</p>
           {% endif %}
           <p>Categoria: {{ produto.categoria.nome }}</p>
           <p>Estoque: {{ produto.estoque }}</p>
           <a href="{% url 'produtos:detalhes-produto' produto.slug %}">Ver detalhes</a>
         </div>
       {% endfor %}
     {% else %}
       <p>Nenhum produto cadastrado ainda.</p>
     {% endif %}
</body>
</html>
